@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  font-family: Poppins, sans-serif;
  margin: 0;
}

body{
  overflow-x: hidden;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background: #001923;
}

section::before{
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffeb3b,#e91e63);
  border-radius: 50%;
  transform: translate(-420px,-180px);
}

section::after{
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3,#83d8ff);
  border-radius: 50%;
  transform: translate(420px,150px);
}

.container{
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.25);
  border-right: 1px solid rgba(255,255,255,0.1);
  border-bottom:  1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.container::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.05);
  pointer-events: none;
}

.container h2{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
}

.container .row100  {
  /*position: relative;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

 }

.container .col .inputBox .web-label{
  margin-top: 20px;
}

 .container .col .inputBox .web-label label{
  color: white;
 }

 .container .col .inputBox .input-web #name{
  width: 400px;
  margin-top: 10px;
 }

 .container .col .inputBox .input-web #dropdown{
  width: 410px;
 }

 .container .col .inputBox .input-web #dropdown option{
  font-size: 15px;
 }

 .col .inputBox p{
  color: white;
  margin-top: 15px;
 }

 .col .inputBox label{
  color: white;
  margin-top: 10px;
 }

.col .textarea p{
  margin-top: 30px;
  color: white;


}
 #textarea{
  width: 400px;
  height: 100px;
  margin-top:5px;
 }

 #submit{
  color: white;
  text-align: center;
  width: 410px;
  margin-top: 20px;
  height: 40px;
  cursor: pointer;
  background-color: green;
 }


@media (max-width: 450px){
  section{
    max-width: 400px;
  }
  section::before{
    transform: translate(-200px,-150px);
  }
  section::after{
    transform: translate(100px,100px);
    width: 200px;
    height: 200px;
  }
  .container{
    padding: 20px;
  }

  .container h2{
    font-size: 26px;
  }
  .container .col .inputBox .input-web #name{
    width: 300px;
    margin-top: 10px;
  }

 .container .col .inputBox .input-web #dropdown{
    width: 307px;
  }
  #textarea{
    width: 300px;
  } 

  #submit{
    width: 300px;
  }

}